
.DescriptiveText {
    display: flex;
}

.DescriptiveText div:first-child {
    padding: 0 0.5rem 0 0;
}

.SeparatingLine {
    padding: 0.5rem 0;
    border-bottom: 1px solid #2979FF;
}

.Error {
    margin-top: 200px;
}