.Card {
    min-height: 300px;
    width: 300px;
    margin: 2rem;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    border-radius: 4px;
    background-color: white;
    border: 1px solid #EEEEEE;
}

.Card:hover {
    transform: scale(1.05);
    cursor: pointer;
    border: 1px solid #a9c8ff;
}

.CardTop {
    height: 200px;
    width: 100%;
    text-align: center;
    margin: auto auto;
}

.CardBottom {
    padding: 1rem;
    font-size: 0.75rem;
}

.CardImage {
    height: 100%;
    background-size: auto 500px;
    background-position: center;
}

.CardLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.Author {
    color: #2979FF;
    padding: 0.5rem 0 0.3rem 0;
}


.CardImage {
    height: 100%;
    background-size: auto 500px;
    background-position: center;
}
